body{
    background-color: black;
}

h1 {
    text-transform: uppercase;
  }

.poster {
    color: white;
    width: 100%;
    margin-left: 25%;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

#sharkk {
    border: 5px solid white;
    width: 100%;
}